.imageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    column-gap: 20px;
    padding: 12px;
    perspective: 1000px;
}

