.imageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    column-gap: 8px;
    padding: 12px;
}

.pokemonCard {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: lightgray;
}