.cardWrapper {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}



.pokemonCard {
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    background-color: lightgray;
    width: 200px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.83);
    will-change: transform;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;

    &:hover{
        transform: translate3d(0, 0, 30px) scale(1.05) rotate3d(0, 1, 0, 5deg) rotate3d(1, 1, 0, 1deg);
        z-index: 10;
        box-shadow: 5px 5px 30px -6px rgba(0,0,0,0.83);
    }
}
